{% load static %}
<li>
    <!--it is better to represent a blog post as an <article> element-->
    <article class = "post">
        <!--the whole post is a link. That is why <a> tag as a first tag-->
        <!-- we do not have to forget about the key argument "slug" for the dynamic segment -->    
        <a href="{% url "post-detail-page" slug=post.slug %}">
            <!-- the img must be partionally hardcoded: "blog/images/"|add: post.image  -->
            <img src="{% static "blog/images/"|add:post.image %}" alt = "{{post.title}}">
            <!--use div to group some content together-->
            <div class = "post__content">
                <!--  using interpolation in the template 
                    post.title - accessing dictionary fileds in templates (not like in regular Python)
                -->
                <h3>{{post.title}}</h3>
                <p>
                    {{ post.excerpt }}    
                </p>
            </div>
        </a>
    </article>
</li>