{% extends "base.html" %}
{% load static %}

{% block page_title %}My Page{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css"%}">
<link rel="stylesheet" href="{% static "blog/post.css"%}"> 
{% endblock %}

{% block content %}


<!--We can use <section> tag to group content related to specific topic -->
<section id="welcome">
    <header>
        <!--It is better to populate the "alt" attribute for SEO (search engine optimization)-->
        <img src="{% static "blog/images/The-Ant.jpeg" %}" alt= "Ilia - The author of this blog">
        <h2>Ilia's blog</h2>
    </header>
    <p>Hi, I am Ilia and I like to blog about ants and payments!</p>
</section>

<!-- put it to the container to be able operate in -->

<section id = "latest-posts">
    <h2>My latest posts</h2>
    <!--
    <table>
            <tr>
                {% for title, text in cards%}
                <td>
                    <div class='cards'>
                        <h2> {{title}} </h2>
                        <p> {{text}} </p>
                    </div>
                </td>
                {% endfor %}
            </tr>
    </table>
    -->
    <ul>
        <!-- here we included the post.html file and added the post.css -
             so .css will affect post.html snippet since there is
             a .post class described in post.css and there is a 
             class = post in the post.html snippet 
        -->
        {% for post in latest_posts %}
        {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

<section id = "about">
    <h2>What I do</h2>
    <p>I like to learn about ...</p>
    <p> My goal is ... </p>
</section>

{% endblock %}