{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css"%}">
{% endblock %}

{% block content %}

<header id = "main-navigation">
    <h1><a href="{% url "index" %}">Ilia's Blog</a></h1>
    <nav>
        <a href="{% url "index" %}">All posts</a>
    </nav>
</header>
<!--We can use <section> tag to group content related to specific topic -->
<section id="welcome">
    <header>
        <!--It is better to populate the "alt" attribute for SEO (search engine optimization)-->
        <img src="" alt= "Ilia - The author of this blog">
        <h2>Ilia's blog</h2>
    </header>
    <p>Hi, I am Ilia and I like to blog about ants and payments!</p>
</section>

<!-- put it to the container to be able operate in -->

<section id = "latest-posts">
    <h2>My latest posts</h2>
    <!--
    <table>
            <tr>
                {% for title, text in cards%}
                <td>
                    <div class='cards'>
                        <h2> {{title}} </h2>
                        <p> {{text}} </p>
                    </div>
                </td>
                {% endfor %}
            </tr>
    </table>
    -->
    <ul>
        <li>
            <!--it is better to represent a blog post as an <article> element-->
            <article id = "post">
                <a href="">
                    <img src="" alt = "How to implement the payment Gateway">
                    <!--use div to group some content together-->
                    <div class = "post__content">
                        <h3>Paymennt Gateway</h3>
                        <p>
                            The text about the payment Gatewey. The text about the payment Gatewey.
                            The text about the payment Gatewey.The text about the payment Gatewey.    
                        </p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id = "about">
    <h2>What I do</h2>
    <p>I like to learn about ...</p>
    <p> My goal is ... </p>
</section>

{% endblock %}